<ion-content class="w-screen h-screen relative">
  <div
    class="absolute top-0 left-0 right-0 bottom-0 w-full h-full flex flex-col bg-[var(--mat-sys-surface-container-high)]"
  >
    <mat-toolbar
      class="!w-full flex flex-row items-center justify-between !h-[72px] !p-2 !shadow-sm !bg-[var(--mat-sys-primary)]"
    >
      <button
        *ngIf="!isLoggedInPackage; else isLoggedInPackageTemplate"
        class="flex flex-row items-center btn !p-0 w-fit btn-ghost"
      >
        <span
          class="w-10 h-10 rounded-full bg-[var(--mat-sys-on-primary-fixed-variant)] relative grid place-items-center"
        >
          <img
            src="assets/images/african (1).png"
            style="
              filter: invert(52%) sepia(57%) saturate(472%) hue-rotate(107deg)
                brightness(93%) contrast(91%);
            "
            alt=""
            srcset=""
            class="absolute w-8 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
          />
        </span>
        <div class="flex flex-col">
          <h6 class="mat-body-small text-left text-[var(--mat-sys-on-primary)]">
            {{ "HOME_PAGE.LABELS.JAMBO" | translate }}
          </h6>
          <h6 class="mat-body-large text-left text-[var(--mat-sys-on-primary)]">
            {{ studentDetails$ | getParentName | async }}
          </h6>
        </div>
      </button>
      <ng-template #isLoggedInPackageTemplate>
        <button
          (click)="goBack($event)"
          class="flex flex-row items-center btn w-fit btn-ghost !bg-[var(--mat-sys-tertiary-container)]"
        >
          <mat-icon svgIcon="chevron-left" matPrefix></mat-icon>
          <h6 class="mat-body-large text-left pt-0.5">
            {{ "SUBSCRIPTION_PAGE.LABELS.SUBSCRIBE" | translate }}
          </h6>
        </button>
      </ng-template>
      <button
        [matMenuTriggerFor]="menu"
        mat-icon-button
        class="!text-[var(--mat-sys-on-primary-fixed)]"
      >
        <mat-icon svgIcon="gear" matPrefix></mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          (click)="logoutClicked($event)"
          mat-menu-item
          class="flex flex-row items-center !text-[var(--mat-sys-error)]"
        >
          <mat-icon
            class="!text-[var(--mat-sys-error)]"
            svgIcon="box-arrow-right"
          ></mat-icon>
          <h6 class="mat-body-medium pt-2">
            {{ "DASHBOARD_PAGE.LABELS.LOGOUT" | translate }}
          </h6>
        </button>
      </mat-menu>
    </mat-toolbar>
    <div
      class="flex flex-col w-full p-4 spce-y-4 justify-between h-full"
      *ngIf="studentDetails$ | isExpiredPackage | async"
    >
      <div class="flex flex-col w-full space-y-4">
        <div class="w-full grid place-items-center">
          <h6
            class="mat-title-large text-[var(--mat-sys-on-surface)] text-center w-full !font-normal"
          >
            {{ "LATEST_SUBSCRIPTIONS_PAGE.LABELS.SUBSCRIPTIONS" | translate }}
          </h6>
          <h6
            class="mat-title-small text-[var(--mat-sys-on-surface)] text-center w-full !font-light"
          >
            {{
              "LATEST_SUBSCRIPTIONS_PAGE.LABELS.CHOOSE_THE_RIGHT_PLAN_FOR_YOU"
                | translate
            }}
          </h6>
        </div>
        <div class="flex flex-col w-full space-y-1">
          <mat-radio-group>
            <ng-container
              *ngFor="let package of packagePrices$ | async; index as ind"
            >
              <div
                matRipple
                (click)="packageClicked(package.Package_Name)"
                class="w-full rounded-lg border border-[var(--mat-sys-tertiary-container)] flex flex-col relative py-4 mb-1"
              >
                <mat-radio-button [checked]="false" class="w-full h-full">
                  <div class="flex flex-col w-full">
                    <h6
                      class="mat-title-large text-[var(--mat-sys-on-tertiary-container)]"
                    >
                      {{ package.Package_Name }}
                    </h6>
                    <ul class="!list-disc flex flex-row items-center flex-wrap">
                      <li
                        *ngFor="
                          let mName of package.M_Name
                            | subscriptionsModuleNames;
                          index as ind
                        "
                        class="inline mr-2.5"
                      >
                        <h6
                          class="mat-label-small text-[var(--mat-sys-on-tertiary-container)] !font-light"
                        >
                          {{ mName }}
                        </h6>
                      </li>
                    </ul>
                    <div
                      class="w-full flex flex-row items-center justify-end pt-4"
                    >
                      <h6
                        class="mat-label-large absolute right-2 bottom-1 text-[var(--mat-sys-on-tertiary-container)]"
                      >
                        {{ package.Package_Amount | currency : "TZS" }}
                      </h6>
                    </div>
                  </div>
                </mat-radio-button>
              </div>
            </ng-container>
          </mat-radio-group>
        </div>
      </div>
      <a (click)="navigateToHistory($event)" mat-flat-button>
        {{ "LATEST_SUBSCRIPTIONS_PAGE.LABELS.VIEW_HISTORY" | translate }}
      </a>
    </div>
  </div>
</ion-content>
