<!-- <div class="w-full h-fit bg-white rounded-lg p-2 flex flex-col">
  <h1 class="!text-black mat-headline-large w-full">
    {{ "FORGOT_PASSWORD.TITLE_TEXT" | translate }}
  </h1>
  <form
    [formGroup]="formGroup"
    (ngSubmit)="submitForm($event)"
    class="w-full flex flex-col space-y-4 relative overflow-hidden"
  >
    <div class="flex flex-col">
      <h6 class="mat-label-small text-black">
        {{ "REGISTER.REGISTER_FORM.LABELS.EMAIL_ADDRESS" | translate }}
      </h6>
      <mat-form-field class="form-field-input">
        <input
          matInput
          type="email"
          [placeholder]="
            'REGISTER.REGISTER_FORM.PLACEHOLDERS.EMAIL_ADDRESS' | translate
          "
          [formControl]="Email_Address"
        />
        <mat-error>
          @if (Email_Address.hasError('required')) {
          {{
            "REGISTER.REGISTER_FORM.ERRORS.MISSING_EMAIL_ADDRESS" | translate
          }}
          } @else if (Email_Address.hasError('email')) {
          {{ "REGISTER.REGISTER_FORM.ERRORS.INVALID_EMAIL" | translate }}
          }
        </mat-error>
      </mat-form-field>
    </div>
    <ion-button type="ngSubmit">{{
      "FORGOT_PASSWORD.SEND" | translate
    }}</ion-button>
  </form>
  <div class="flex flex-row items-center justify-center mt-8">
    <span class="text-black text-xs"
      >{{ "REGISTER.ALREADY_SIGNED_UP" | translate }}
      <ion-text
        [routerLink]="'/login'"
        color="primary"
        class="text-xs hover:underline"
        >{{ "REGISTER.LOGIN_HERE" | translate }}</ion-text
      >
    </span>
  </div>
</div> -->

<div class="w-full h-full flex flex-col">
  <div class="w-full h-24 flex flex-row items-center justify-between px-4">
    <h6 class="!text-[var(--mat-sys-on-primary)] mat-title-large">
      {{ "FORGOT_PASSWORD.FORGOT_PASSWORD_TEXT" | translate }}
    </h6>
    <img
      class="w-28"
      src="assets/images/B-Smart_Academia_transparent.png"
      alt=""
      srcset=""
    />
  </div>
  <div
    class="w-full h-full bg-[var(--mat-sys-surface)] px-4 py-4 flex flex-col space-y-4"
  >
    <div class="flex flex-col space-y-1">
      <h6 class="!text-[var(--mat-sys-on-primary-container)] mat-title-small">
        {{ "FORGOT_PASSWORD.TITLE_TEXT" | translate }}
      </h6>
      <h6 class="!text-[var(--mat-sys-on-primary-container)] mat-body-small">
        {{ "FORGOT_PASSWORD.DESCRIPTION" | translate }}
      </h6>
    </div>
    <form
      [formGroup]="formGroup"
      (ngSubmit)="submitForm($event)"
      class="w-full flex flex-col space-y-4 relative overflow-hidden"
    >
      <div class="flex flex-col">
        <h6 class="mat-label-small text-black">
          {{ "REGISTER.REGISTER_FORM.LABELS.EMAIL_ADDRESS" | translate }}
        </h6>
        <mat-form-field class="form-field-input">
          <input
            matInput
            type="email"
            [placeholder]="
              'REGISTER.REGISTER_FORM.PLACEHOLDERS.EMAIL_ADDRESS' | translate
            "
            [formControl]="Email_Address"
          />
          <mat-error>
            @if (Email_Address.hasError('required')) {
            {{
              "REGISTER.REGISTER_FORM.ERRORS.MISSING_EMAIL_ADDRESS" | translate
            }}
            } @else if (Email_Address.hasError('email')) {
            {{ "REGISTER.REGISTER_FORM.ERRORS.INVALID_EMAIL" | translate }}
            }
          </mat-error>
        </mat-form-field>
      </div>
      <ion-button type="ngSubmit">{{
        "FORGOT_PASSWORD.SEND" | translate
      }}</ion-button>
    </form>
    <div class="flex flex-row items-center justify-center py-8">
      <span class="text-black text-xs"
        >{{ "REGISTER.ALREADY_SIGNED_UP" | translate }}
        <ion-text
          [routerLink]="'/login'"
          color="primary"
          class="text-xs hover:underline"
          >{{ "REGISTER.LOGIN_HERE" | translate }}</ion-text
        >
      </span>
    </div>
  </div>
  <div
    class="w-full mt-auto bg-[var(--mat-sys-surface)] grid place-items-center"
  >
    <img
      class="w-56 object-cover"
      src="assets/images/CRDB-LOGO.png"
      alt=""
      srcset=""
    />
  </div>
</div>
