<ion-content color="primary" class="w-screen h-screen overflow-hidden relative">
  <div class="w-full h-full relative flex flex-col">
    <div class="absolute bottom-0 right-0 p-4">
      <button (click)="openAddStudentForm($event)" mat-fab>
        <mat-icon svgIcon="plus-lg" matPrefix></mat-icon>
      </button>
    </div>
    <app-header-section></app-header-section>
    <div
      class="flex flex-col w-full space-y-12 bg-[var(--mat-sys-surface)] h-full px-2"
    >
      <div class="flex flex-col w-full py-4">
        <h1 class="mat-headline-medium">
          {{ "HOME_PAGE.LABELS.TITLE" | translate }}
        </h1>
        <h1 class="mat-title-medium">
          {{ "HOME_PAGE.LABELS.SUBTITLE" | translate }}
        </h1>
      </div>
      <div
        class="w-64 h-64 rounded-full shadow border-4 border-[var(--mat-sys-primary)] mx-auto relative grid place-items-center"
      >
        <div class="flex flex-col w-full justify-center items-center">
          <h6 class="mat-headline-large">
            {{ (studentDetails$ | async)?.Package_Name }}
          </h6>
          <h6 class="mat-body-large">
            {{ "HOME_PAGE.LABELS.ACTIVE" | translate }}
          </h6>
          <h6 class="mat-body-small pt-2">
            {{
              ("HOME_PAGE.LABELS.ACTIVE_PACKAGE_TEXT" | translate).replace(
                "__",
                (studentDetails$ | async)?.Package_Name?.toLocaleLowerCase()
              )
            }}
          </h6>
        </div>
        <div class="absolute -bottom-4 right-0 p-4">
          <button
            (click)="openPackagePage($event)"
            mat-fab
            class="!bg-[var(--mat-sys-on-primary-container)]"
          >
            <mat-icon
              class="!text-[var(--mat-sys-on-primary)]"
              svgIcon="eye"
              matPrefix
            ></mat-icon>
          </button>
        </div>
      </div>
      <div
        class="flex flex-row h-32 items-center w-full overflow-x-auto py-1 space-x-4"
      >
        <ng-container
          *ngFor="
            let student of (studentDetails$ | async)?.Students;
            index as ind
          "
        >
          <div
            #studentCard
            class="min-w-52 w-52 h-20 bg-[var(--mat-sys-on-primary)] shadow rounded relative py-4"
          >
            <div
              (click)="openStudentDashboard($event, student)"
              matRipple
              class="flex flex-col justify-center w-full h-full"
            >
              <h6 class="mat-body-small capitalize text-center !font-regular">
                {{ student.SFullName.toLocaleLowerCase() }}
              </h6>
              <h6 class="mat-body-small capitalize text-center !font-light">
                {{ student.Facility_Name.toLocaleLowerCase() }}
              </h6>
              <h6 class="mat-body-small capitalize text-center !font-light">
                {{ student.Acad_Year.toLocaleLowerCase() }}
              </h6>
            </div>
            <button
              (click)="removeStudent($event, student)"
              class="w-full h-full !absolute -right-3 -top-3 !bg-[var(--mat-sys-error)]"
              mat-icon-button
            >
              <mat-icon
                class="text-[var(--mat-sys-on-secondary)]"
                svgIcon="trash"
              >
              </mat-icon>
            </button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ion-content>
