@media (prefers-color-scheme: dark) {
  :root,
  :host {
    --mat-sys-primary: #79dd70;
    --mat-sys-on-primary: #003a06;
    --mat-sys-primary-container: #00530c;
    --mat-sys-on-primary-container: #94fa89;
    --mat-sys-inverse-primary: #006e13;
    --mat-sys-primary-fixed: #94fa89;
    --mat-sys-primary-fixed-dim: #79dd70;
    --mat-sys-on-primary-fixed: #002202;
    --mat-sys-on-primary-fixed-variant: #00530c;
    --mat-sys-secondary: #e3bdc6;
    --mat-sys-on-secondary: #422931;
    --mat-sys-secondary-container: #5b3f47;
    --mat-sys-on-secondary-container: #ffd9e2;
    --mat-sys-secondary-fixed: #ffd9e2;
    --mat-sys-secondary-fixed-dim: #e3bdc6;
    --mat-sys-on-secondary-fixed: #2b151c;
    --mat-sys-on-secondary-fixed-variant: #5b3f47;
    --mat-sys-tertiary: #b4ccc1;
    --mat-sys-on-tertiary: #20342d;
    --mat-sys-tertiary-container: #364b43;
    --mat-sys-on-tertiary-container: #d0e8dd;
    --mat-sys-tertiary-fixed: #d0e8dd;
    --mat-sys-tertiary-fixed-dim: #b4ccc1;
    --mat-sys-on-tertiary-fixed: #0a1f18;
    --mat-sys-on-tertiary-fixed-variant: #364b43;
    --mat-sys-background: #131313;
    --mat-sys-on-background: #e5e2e0;
    --mat-sys-surface: #131313;
    --mat-sys-surface-dim: #131313;
    --mat-sys-surface-bright: #3a3938;
    --mat-sys-surface-container-lowest: #0e0e0d;
    --mat-sys-surface-container-low: #1c1c1b;
    --mat-sys-surface-container: #20201f;
    --mat-sys-surface-container-high: #2a2a29;
    --mat-sys-surface-container-highest: #353534;
    --mat-sys-on-surface: #e5e2e0;
    --mat-sys-shadow: #000000;
    --mat-sys-scrim: #000000;
    --mat-sys-surface-tint: #c3c8bd;
    --mat-sys-inverse-surface: #e5e2e0;
    --mat-sys-inverse-on-surface: #31302f;
    --mat-sys-outline: #8f928b;
    --mat-sys-outline-variant: #444842;
    --mat-sys-neutral: #787776;
    --mat-sys-neutral10: #1c1c1b;
    --mat-sys-error: #ffb4ab;
    --mat-sys-error-container: #93000a;
    --mat-sys-on-error: #690005;
    --mat-sys-on-error-container: #ffdad6;
    --mat-sys-surface-variant: #444842;
    --mat-sys-on-surface-variant: #c5c8bf;
    --mat-sys-neutral-variant: #757871;
    --mat-sys-neutral-variant20: #2e312c;
    --mat-sys-inverse-secondary: #74565f;
    --mat-sys-inverse-tertiary: #4d635a;
  }
}

/* Dark Theme */
:root.dark {
  --mat-sys-primary: #79dd70;
  --mat-sys-on-primary: #003a06;
  --mat-sys-primary-container: #00530c;
  --mat-sys-on-primary-container: #94fa89;
  --mat-sys-inverse-primary: #006e13;
  --mat-sys-primary-fixed: #94fa89;
  --mat-sys-primary-fixed-dim: #79dd70;
  --mat-sys-on-primary-fixed: #002202;
  --mat-sys-on-primary-fixed-variant: #00530c;
  --mat-sys-secondary: #e3bdc6;
  --mat-sys-on-secondary: #422931;
  --mat-sys-secondary-container: #5b3f47;
  --mat-sys-on-secondary-container: #ffd9e2;
  --mat-sys-secondary-fixed: #ffd9e2;
  --mat-sys-secondary-fixed-dim: #e3bdc6;
  --mat-sys-on-secondary-fixed: #2b151c;
  --mat-sys-on-secondary-fixed-variant: #5b3f47;
  --mat-sys-tertiary: #b4ccc1;
  --mat-sys-on-tertiary: #20342d;
  --mat-sys-tertiary-container: #364b43;
  --mat-sys-on-tertiary-container: #d0e8dd;
  --mat-sys-tertiary-fixed: #d0e8dd;
  --mat-sys-tertiary-fixed-dim: #b4ccc1;
  --mat-sys-on-tertiary-fixed: #0a1f18;
  --mat-sys-on-tertiary-fixed-variant: #364b43;
  --mat-sys-background: #131313;
  --mat-sys-on-background: #e5e2e0;
  --mat-sys-surface: #131313;
  --mat-sys-surface-dim: #131313;
  --mat-sys-surface-bright: #3a3938;
  --mat-sys-surface-container-lowest: #0e0e0d;
  --mat-sys-surface-container-low: #1c1c1b;
  --mat-sys-surface-container: #20201f;
  --mat-sys-surface-container-high: #2a2a29;
  --mat-sys-surface-container-highest: #353534;
  --mat-sys-on-surface: #e5e2e0;
  --mat-sys-shadow: #000000;
  --mat-sys-scrim: #000000;
  --mat-sys-surface-tint: #c3c8bd;
  --mat-sys-inverse-surface: #e5e2e0;
  --mat-sys-inverse-on-surface: #31302f;
  --mat-sys-outline: #8f928b;
  --mat-sys-outline-variant: #444842;
  --mat-sys-neutral: #787776;
  --mat-sys-neutral10: #1c1c1b;
  --mat-sys-error: #ffb4ab;
  --mat-sys-error-container: #93000a;
  --mat-sys-on-error: #690005;
  --mat-sys-on-error-container: #ffdad6;
  --mat-sys-surface-variant: #444842;
  --mat-sys-on-surface-variant: #c5c8bf;
  --mat-sys-neutral-variant: #757871;
  --mat-sys-neutral-variant20: #2e312c;
  --mat-sys-inverse-secondary: #74565f;
  --mat-sys-inverse-tertiary: #4d635a;
}
