// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

@use "@angular/material" as mat;
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

$typography-theme: mat.define-theme(
  (
    typography: (
      use-system-variables: true,
      brand-family: "Sora",
      plain-family: "Sora",
    ),
  )
);

@media (prefers-color-scheme: light) {
  :root {
    --ion-color-primary: #4cae48;
    --ion-color-primary-rgb: 76, 174, 72;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #43993f;
    --ion-color-primary-tint: #5eb65a;

    --ion-color-secondary: #230e15;
    --ion-color-secondary-rgb: 35, 14, 21;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #1f0c12;
    --ion-color-secondary-tint: #39262c;

    --ion-color-tertiary: #0e231c;
    --ion-color-tertiary-rgb: 14, 35, 28;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #0c1f19;
    --ion-color-tertiary-tint: #263933;

    --ion-color-success: #2dd55b;
    --ion-color-success-rgb: 45, 213, 91;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #28bb50;
    --ion-color-success-tint: #42d96b;

    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    --ion-color-danger: #c5000f;
    --ion-color-danger-rgb: 197, 0, 15;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #ad000d;
    --ion-color-danger-tint: #cb1a27;

    --ion-color-light: #f6f8fc;
    --ion-color-light-rgb: 246, 248, 252;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d8dade;
    --ion-color-light-tint: #f7f9fc;

    --ion-color-medium: #5f5f5f;
    --ion-color-medium-rgb: 95, 95, 95;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #545454;
    --ion-color-medium-tint: #6f6f6f;

    --ion-color-dark: #2f2f2f;
    --ion-color-dark-rgb: 47, 47, 47;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #292929;
    --ion-color-dark-tint: #444444;

    --ion-font-family: "Sora", serif;

    @include mat.theme(
      (
        color: (
          theme-type: light,
          use-system-variables: true,
        ),
        density: (
          scale: 0,
        ),
      )
    );

    // @include mat.core-theme($light-theme);
    // @include mat.system-level-colors($light-theme);
    @include mat.typography-hierarchy($typography-theme);
    @include mat.system-level-typography($typography-theme);
    @include mat.form-field-density(-3);
    @include mat.tabs-overrides(
      (
        container-height: 40px,
      )
    );
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --ion-color-primary: #79dd70;
    --ion-color-primary-rgb: 3, 98, 76;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #035643;
    --ion-color-primary-tint: #1c725e;

    --ion-color-secondary: #063028;
    --ion-color-secondary-rgb: 6, 48, 40;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #052a23;
    --ion-color-secondary-tint: #1f453e;

    --ion-color-tertiary: #032221;
    --ion-color-tertiary-rgb: 3, 34, 33;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #031e1d;
    --ion-color-tertiary-tint: #1c3837;

    --ion-color-success: #2dd55b;
    --ion-color-success-rgb: 45, 213, 91;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #28bb50;
    --ion-color-success-tint: #42d96b;

    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    --ion-color-danger: #c5000f;
    --ion-color-danger-rgb: 197, 0, 15;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #ad000d;
    --ion-color-danger-tint: #cb1a27;

    --ion-color-light: #f6f8fc;
    --ion-color-light-rgb: 246, 248, 252;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d8dade;
    --ion-color-light-tint: #f7f9fc;

    --ion-color-medium: #5f5f5f;
    --ion-color-medium-rgb: 95, 95, 95;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #545454;
    --ion-color-medium-tint: #6f6f6f;

    --ion-color-dark: #2f2f2f;
    --ion-color-dark-rgb: 47, 47, 47;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #292929;
    --ion-color-dark-tint: #444444;

    @include mat.theme(
      (
        color: (
          theme-type: dark,
          use-system-variables: true,
        ),
        density: (
          scale: 0,
        ),
      )
    );

    // @include mat.core-theme($dark-theme);
    // @include mat.system-level-colors($dark-theme);
    @include mat.typography-hierarchy($typography-theme);
    @include mat.system-level-typography($typography-theme);
    @include mat.form-field-density(-3);
    @include mat.tabs-overrides(
      (
        container-height: 40px,
      )
    );
  }
}

.form-field-input {
  //@include mat.form-field-density(-3);
}

.tabs-list {
  @include mat.tabs-density(-3);
}

input[type="password"] {
  color: white;
  background-color: black;
}
::-ms-reveal {
  filter: invert(100%);
}
