<ion-content
  color="primary"
  class="w-screen h-screen relative flex flex-col overflow-hidden"
>
  <div class="w-full h-full grid place-items-center">
    <img
      src="assets/images/B-Smart_Academia_transparent.png"
      class="w-[80%]"
      alt=""
    />
    <div class="flex flex-col w-full items-center">
      <h6 class="mat-title-small">
        {{ "SELECT_LANGUAGE_PAGE.SELECT_LANGUAGE" | translate }}
      </h6>
      <div class="grid place-items-center gap-y-2 w-full px-12 mt-11">
        <button
          (click)="acceptLanguage($event, 'en')"
          id="english-button"
          mat-stroked-button
          class="flex flex-row items-center w-full !border-none !bg-[var(--mat-sys-on-primary)]"
        >
          <mat-icon svgIcon="gb" matPrefix></mat-icon>
          <ion-text
            [textContent]="'SELECT_LANGUAGE_PAGE.ENGLISH' | translate"
            class="text-sm text-[var(--mat-sys-on-background)]"
            >{{ "SELECT_LANGUAGE_PAGE.ENGLISH" | translate }}</ion-text
          >
        </button>
        <button
          id="kiswahili-button"
          (click)="acceptLanguage($event, 'sw')"
          mat-stroked-button
          class="flex flex-row items-center w-full !border-none !bg-[var(--mat-sys-on-primary)]"
        >
          <mat-icon svgIcon="tz" matPrefix></mat-icon>
          <ion-text
            [textContent]="'SELECT_LANGUAGE_PAGE.KISWAHILI' | translate"
            class="text-sm text-[var(--mat-sys-on-background)]"
            >{{ "SELECT_LANGUAGE_PAGE.KISWAHILI" | translate }}</ion-text
          >
        </button>
      </div>
    </div>
  </div>
</ion-content>
