<div class="w-full h-full flex flex-col">
  <div class="w-full h-24 flex flex-row items-center justify-between px-4">
    <h6 class="!text-[var(--mat-sys-on-primary)] mat-title-large">
      {{ "REGISTER.TITLE_TEXT" | translate }}
    </h6>
    <img
      class="w-28"
      src="assets/images/B-Smart_Academia_transparent.png"
      alt=""
      srcset=""
    />
  </div>
  <div
    class="w-full h-full bg-[var(--mat-sys-surface)] px-4 py-4 flex flex-col space-y-4"
  >
    <div class="flex flex-col space-y-1">
      <h6 class="!text-[var(--mat-sys-on-primary-container)] mat-title-small">
        {{ "REGISTER.REGISTER_NOW" | translate }}
      </h6>
      <h6 class="!text-[var(--mat-sys-on-primary-container)] mat-body-small">
        {{ "REGISTER.REGISTER_DESCRIPTION" | translate }}
      </h6>
    </div>
    <section
      class="carousel w-full flex flex-col space-y-4 relative overflow-hidden"
    >
      <ng-container [formGroup]="parentRegService.parentForm">
        <div
          #firstPartRegister
          id="register-form-0"
          class="carousel-item flex flex-col w-full space-y-1 h-fit duration-500"
        >
          <div class="flex flex-col">
            <h6 class="mat-label-small text-black">
              {{ "REGISTER.REGISTER_FORM.LABELS.FULL_NAME" | translate }}
            </h6>
            <mat-form-field class="form-field-input">
              <input
                matInput
                type="text"
                [placeholder]="
                  'REGISTER.REGISTER_FORM.PLACEHOLDERS.FULL_NAME' | translate
                "
                [formControl]="parentRegService.Parent_Name"
              />
              <mat-error>
                {{ "DEFAULTS.ERRORS.CANNOT_BE_BLANK" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="flex flex-col">
            <h6 class="mat-label-small text-black">
              {{ "REGISTER.REGISTER_FORM.LABELS.PHONE_NUMBER" | translate }}
            </h6>
            <mat-form-field class="form-field-input">
              <span class="text-black" matTextPrefix>+255 &nbsp;</span>
              <input
                matInput
                type="tel"
                [placeholder]="
                  'REGISTER.REGISTER_FORM.PLACEHOLDERS.PHONE_NUMBER' | translate
                "
                [formControl]="parentRegService.Mobile_No"
              />
              <mat-error>
                {{ "DEFAULTS.ERRORS.CANNOT_BE_BLANK" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="flex flex-col">
            <h6 class="mat-label-small text-black">
              {{ "REGISTER.REGISTER_FORM.LABELS.USERNAME" | translate }}
            </h6>
            <mat-form-field class="form-field-input">
              <input
                matInput
                type="text"
                [placeholder]="
                  'REGISTER.REGISTER_FORM.PLACEHOLDERS.USERNAME' | translate
                "
                [formControl]="parentRegService.User_Name"
              />
              <mat-error>
                {{ "DEFAULTS.ERRORS.CANNOT_BE_BLANK" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="flex flex-col">
            <h6 class="mat-label-small text-black">
              {{ "REGISTER.REGISTER_FORM.LABELS.EMAIL_ADDRESS" | translate }}
            </h6>
            <mat-form-field class="form-field-input">
              <input
                matInput
                type="email"
                [placeholder]="
                  'REGISTER.REGISTER_FORM.PLACEHOLDERS.EMAIL_ADDRESS'
                    | translate
                "
                [formControl]="parentRegService.Email_Address"
              />
              <mat-error>
                @if (parentRegService.Email_Address | hasFormControlError :
                'required') {
                {{ "DEFAULTS.ERRORS.CANNOT_BE_BLANK" | translate }}
                } @else if (parentRegService.Email_Address | hasFormControlError
                : 'pattern') {
                {{ "REGISTER.REGISTER_FORM.ERRORS.INVALID_EMAIL" | translate }}
                }
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </ng-container>
      <ng-container [formGroup]="studentRegService.studentForm">
        <div
          #secondPartRegister
          id="register-form-1"
          formArrayName="SDetails"
          class="carousel-item flex flex-col w-full space-y-1 h-fit absolute top-0 left-0 right-0 translate-x-full duration-500"
        >
          <ng-container
            *ngFor="
              let sDetail of studentRegService.SDetails.controls;
              index as ind
            "
            formGroupName="{{ ind }}"
          >
            <div class="flex flex-col">
              <h6 class="mat-label-small text-black">
                {{ "REGISTER.REGISTER_FORM.LABELS.SCHOOL" | translate }}
              </h6>
              <mat-form-field class="form-field-input">
                <input
                  matInput
                  type="text"
                  [placeholder]="
                    'REGISTER.REGISTER_FORM.PLACEHOLDERS.SCHOOL' | translate
                  "
                  [matAutocomplete]="auto"
                  formControlName="SearchFacility"
                />
                <mat-autocomplete #auto="matAutocomplete">
                  @for (option of studentRegService.filteredFacultiesOptions$ |
                  async; track option) {
                  <mat-option [value]="option.Facility_Name">{{
                    option.Facility_Name
                  }}</mat-option>
                  }
                </mat-autocomplete>
                <mat-error>
                  @if
                  (studentRegService.SDetails.controls.at(0)?.get('SearchFacility')?.hasError('required'))
                  {
                  {{ "DEFAULTS.ERRORS.CANNOT_BE_BLANK" | translate }}
                  } @else if
                  (studentRegService.SDetails.controls.at(0)?.get('SearchFacility')?.hasError('invalidFacultyName'))
                  {
                  {{
                    "REGISTER.REGISTER_FORM.ERRORS.SCHOOL_NAME_DOES_NOT_EXIST"
                      | translate
                  }}
                  }
                </mat-error>
              </mat-form-field>
            </div>
            <div class="flex flex-col">
              <h6 class="mat-label-small text-black">
                {{ "REGISTER.REGISTER_FORM.LABELS.ADMISSION_NO" | translate }}
              </h6>
              <mat-form-field class="form-field-input">
                <input
                  matInput
                  type="text"
                  [placeholder]="
                    'REGISTER.REGISTER_FORM.PLACEHOLDERS.ADMISSION_NO'
                      | translate
                  "
                  formControlName="Admission_No"
                />
                <mat-error>
                  {{ "DEFAULTS.ERRORS.CANNOT_BE_BLANK" | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </section>
    <div class="flex flex-row items-center justify-end">
      <a
        (click)="prevForm($event)"
        *ngIf="formCurrentIndex$.value > 0"
        [@inOutAnimation]
        class="!text-[var(--mat-sys-error)]"
        type="button"
        mat-button
      >
        {{ "REGISTER.REGISTER_FORM.LABELS.PREV" | translate }}
      </a>
      <a mat-flat-button type="button" (click)="nextForm($event)">
        @if (formCurrentIndex$.value === 0) {
        {{ "REGISTER.REGISTER_FORM.LABELS.NEXT" | translate }}
        } @else {
        {{ "DEFAULTS.SUBMIT" | translate }}
        }
      </a>
    </div>
    <div class="flex flex-row">
      <span class="text-black text-xs"
        >{{ "REGISTER.ALREADY_SIGNED_UP" | translate }}
        <ion-text
          [routerLink]="'/login'"
          color="primary"
          class="text-xs hover:underline"
          >{{ "REGISTER.LOGIN_HERE" | translate }}</ion-text
        >
      </span>
    </div>
  </div>
  <div
    class="w-full mt-auto bg-[var(--mat-sys-surface)] grid place-items-center"
  >
    <img
      class="w-56 object-cover"
      src="assets/images/CRDB-LOGO.png"
      alt=""
      srcset=""
    />
  </div>
</div>
