<form class="flex flex-col w-full h-full bg-white">
  <div class="w-full h-12 relative">
    <div class="w-full h-full relative bg-gray-100">
      <h6
        class="absolute left-0 top-1/2 -translate-y-1/2 mat-title-medium p-4 font-semibold bg-transparent text-black w-full"
      >
        {{ data.title }}
      </h6>
    </div>
  </div>
  <mat-divider></mat-divider>
  <h6 class="mat-label-small !font-normal p-4 text-gray-600">
    {{ data.message }}
  </h6>
  <mat-divider></mat-divider>
  <div class="flex flex-row items-center justify-end"></div>
  <div class="w-full flex flex-row items-center justify-end h-12">
    <button
      mat-button
      mat-dialog-close
      class="mat-body-small focus:!bg-transparent !text-red-600"
    >
      {{ "DEFAULTS.NO" | translate }}
    </button>
    <button
      class="mat-body-small"
      mat-button
      mat-dialog-close
      (click)="confirmClicked()"
    >
      {{ "DEFAULTS.YES" | translate }}
    </button>
  </div>
</form>
