<ion-content class="w-screen h-screen relative">
  <div class="w-full h-full relative">
    <app-header-section></app-header-section>
    <div class="flex flex-col w-full py-4 px-2">
      <h1 class="mat-headline-medium">
        {{ "ADD_STUDENT_PAGE.TITLE" | translate }}
      </h1>
    </div>
    <form
      (ngSubmit)="submitStudentForm($event)"
      [formGroup]="studentRegService.studentForm"
      class="p-2"
    >
      <div
        formArrayName="SDetails"
        class="flex flex-col w-full space-y-1 h-fit"
      >
        <ng-container
          *ngFor="
            let sDetail of studentRegService.SDetails.controls;
            index as ind
          "
          formGroupName="{{ ind }}"
        >
          <div class="flex flex-col">
            <h6 class="mat-label-small text-black">
              {{ "REGISTER.REGISTER_FORM.LABELS.SCHOOL" | translate }}
            </h6>
            <mat-form-field class="form-field-input">
              <input
                matInput
                type="text"
                [placeholder]="
                  'REGISTER.REGISTER_FORM.PLACEHOLDERS.SCHOOL' | translate
                "
                [matAutocomplete]="auto"
                formControlName="SearchFacility"
              />
              <mat-autocomplete #auto="matAutocomplete">
                @for (option of studentRegService.filteredFacultiesOptions$ |
                async; track option) {
                <mat-option [value]="option.Facility_Name">{{
                  option.Facility_Name
                }}</mat-option>
                }
              </mat-autocomplete>
              <mat-error>
                @if
                (studentRegService.SDetails.controls.at(0)?.get('SearchFacility')?.hasError('required'))
                {
                {{ "DEFAULTS.ERRORS.CANNOT_BE_BLANK" | translate }}
                } @else if
                (studentRegService.SDetails.controls.at(0)?.get('SearchFacility')?.hasError('invalidFacultyName'))
                {
                {{
                  "REGISTER.REGISTER_FORM.ERRORS.SCHOOL_NAME_DOES_NOT_EXIST"
                    | translate
                }}
                }
              </mat-error>
            </mat-form-field>
          </div>
          <div class="flex flex-col">
            <h6 class="mat-label-small text-black">
              {{ "REGISTER.REGISTER_FORM.LABELS.ADMISSION_NO" | translate }}
            </h6>
            <mat-form-field class="form-field-input">
              <input
                matInput
                type="text"
                [placeholder]="
                  'REGISTER.REGISTER_FORM.PLACEHOLDERS.ADMISSION_NO' | translate
                "
                formControlName="Admission_No"
              />
              <mat-error>
                {{ "DEFAULTS.ERRORS.CANNOT_BE_BLANK" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </ng-container>
        <div class="w-full grid place-items-center">
          <ion-button class="mx-auto" type="submit">{{
            "DEFAULTS.SUBMIT" | translate
          }}</ion-button>
        </div>
      </div>
    </form>
  </div>
</ion-content>
