<div class="w-full h-full flex flex-col">
  <div class="w-full h-24 flex flex-row items-center justify-between px-4">
    <h6 class="!text-[var(--mat-sys-on-primary)] mat-title-large">
      {{ "LOGIN.LOGIN_TEXT" | translate }}
    </h6>
    <img
      class="w-28"
      src="assets/images/B-Smart_Academia_transparent.png"
      alt=""
      srcset=""
    />
  </div>
  <div
    class="w-full h-full bg-[var(--mat-sys-surface)] px-4 py-4 flex flex-col space-y-4"
  >
    <div class="flex flex-col space-y-1">
      <h6 class="!text-[var(--mat-sys-on-primary-container)] mat-title-small">
        {{ "LOGIN.WELCOME_TEXT" | translate }}
      </h6>
      <h6 class="!text-[var(--mat-sys-on-primary-container)] mat-body-small">
        {{ "LOGIN.LOGIN_DESCRIPTION" | translate }}
      </h6>
    </div>
    <form
      [formGroup]="loginFormGroup"
      id="login-form"
      class="w-full flex flex-col space-y-4"
      (ngSubmit)="submitForm($event)"
    >
      <div class="flex flex-col w-full space-y-1">
        <div class="flex flex-col">
          <h6 class="mat-label-small text-black">
            {{ "LOGIN.LOGIN_FORM.LABELS.USERNAME" | translate | titlecase }}
          </h6>
          <mat-form-field class="form-field-input">
            <mat-icon matPrefix svgIcon="person-fill"></mat-icon>
            <input
              matInput
              type="text"
              [placeholder]="
                'LOGIN.LOGIN_FORM.PLACEHOLDERS.USERNAME' | translate
              "
              [formControl]="User_Name"
            />
            <mat-error *ngIf="User_Name | hasFormControlError : 'required'">
              {{ "LOGIN.LOGIN_FORM.ERRORS.USERNAME" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="flex flex-col">
          <h6 class="mat-label-small text-black">
            {{ "LOGIN.LOGIN_FORM.LABELS.PASSWORD" | translate | titlecase }}
          </h6>
          <mat-form-field class="form-field-input">
            <mat-icon matPrefix svgIcon="lock-fill"></mat-icon>
            <input
              #passwordInput
              matInput
              type="password"
              [formControl]="Password"
              [placeholder]="
                'LOGIN.LOGIN_FORM.PLACEHOLDERS.PASSWORD' | translate
              "
            />
            @if (isCapacitor && Password.value.length > 0) {
            <button
              matSuffix
              mat-icon-button
              type="button"
              (click)="
                passwordInput.type === 'password'
                  ? (passwordInput.type = 'text')
                  : (passwordInput.type = 'password')
              "
            >
              <mat-icon
                [svgIcon]="
                  passwordInput.type === 'password' ? 'eye' : 'eye-slash'
                "
                matPrefix
              ></mat-icon>
            </button>
            }
            <mat-error *ngIf="Password | hasFormControlError : 'required'">
              {{ "LOGIN.LOGIN_FORM.ERRORS.USERNAME" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="flex flex-row justify-end">
          <a [routerLink]="'/forgot'" type="button" mat-button>
            {{ "LOGIN.LOGIN_FORM.LABELS.FORGOT_PASSWORD" | translate }}
          </a>
        </div>
      </div>
      <ion-button type="submit">{{
        "LOGIN.LOGIN_FORM.ACTIONS.SUBMIT" | translate
      }}</ion-button>
      <div class="flex flex-row items-center justify-center py-4">
        <span class="text-black text-xs"
          >{{ "LOGIN.LOGIN_FORM.LABELS.DONT_HAVE_AN_ACCOUNT" | translate }}
          <ion-text
            (click)="onRegisterClicked($event)"
            color="primary"
            class="text-xs hover:underline"
            >{{ "LOGIN.LOGIN_FORM.LABELS.CLICK_HERE" | translate }}</ion-text
          >
        </span>
      </div>
    </form>
  </div>
  <div
    class="w-full mt-auto bg-[var(--mat-sys-surface)] grid place-items-center"
  >
    <img
      class="w-56 object-cover"
      src="assets/images/CRDB-LOGO.png"
      alt=""
      srcset=""
    />
  </div>
</div>
