// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

// html {
//   @include mat.theme((
//     color: (
//       //theme-type: light,
//       primary: mat.$azure-palette,
//       tertiary: mat.$blue-palette,
//       use-system-variables: true,
//     ),
//     typography: (
//       use-system-variables: true,
//       brand-family: "Sora",
//       plain-family: "Sora",
//       regular-weight: "440",
//     ),
//     density: (
//       scale: 0,
//     ),
//   ));
// }

//Spora font
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

// /* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

//tailwindcss
@tailwind base;
@tailwind components;
@tailwind utilities;

button,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
small,
th,
td,
mark,
textarea,
select,
select > option,
input {
  font-family: "Sora", serif;
}

input::placeholder {
  color: var(--mat-sys-neutral) !important;
}

.dialog-loading-panel-class .mat-mdc-dialog-surface {
  background-color: transparent;
  width: fit-content !important;
  height: 200px;
  width: 200px;
}

ion-button {
  --color: var(--mat-sys-on-secondary);
}
